// import "../../App.scss";
$background-color: #000000;
$font-stack: "verdana";
$font-size-standard: 22px;
$font-color: #f2e243;  // TV speaker yellow
$tv-yellow: #f2e243;  // TV speaker yellow
$tv-brown-speaker: #bdba9d;  // TV speaker gradient brown
$tv-brown-frame-light: #877e23;  // TV frame top brown
$tv-brown-frame-dark: #59443e;  // TV frame bottom brown
$tv-brown-button-panel: #6c6518;


.navbar-width {
    margin-top: -9px;
    width: 100%;
    min-height: 40px;
    padding-bottom: 20px;
    // position: sticky;
    // background-color: $tv-brown-frame-dark; .... works here... 
}

/* Style the links inside the navigation bar */
.nav span{
    float: left;
    display: block;
    text-align: center;
    padding: 5px 8px ;
    margin: 5px 30px 0px 0px;
    font-size: 17px;
    color: $font-color;
    z-index: 2;

    // position: fixed;  // nothing helped. 
    max-height: 45px;
    overflow: hidden;
}

.nav a{
    color: #f2b313;
    text-shadow: 4px 4px #000000, -.5px -.5px 2px #c79414;
    // text-shadow: 4px 4px #59443e, -.5px -.5px 2px #c79414;
    // text-shadow: 4px 4px #000000, -.5px -.5px 2px #bd8802;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    max-height: 45px;
    overflow: hidden;
}

.nav a:hover {
    background-color: $tv-brown-frame-light;
    padding: 5px 25px 5px 25px;
    text-shadow: 0px 0px #000000, -.5px -.5px 2px #59443e;
    position: absolute;// does nothing
    overflow: hidden;
}

.menu {         // black box that has a "shadow" on it. 
    top: 3px;
    padding-top: 0px; // was 3px, but shows part of shadow when animated
    // margin-left: 58px;   // OLD - amt fm edge to start box behind remote
    margin-left: -28px;
    // width: 80%;
    min-height: 10px;
    background-color: $background-color;
    z-index: 4;
    color: $font-color;
    // position: absolute;
    // transition: width 0.3s ease-out;
    // max-width: 0;
    // overflow: hidden;
    // transition: width 0.3s ease-out;
    max-height: 45px;
    // clip-path: polygon(0px 0px, 0px 150px, 150px 0px);
    // clip-path: polygon(0 84%, 17% 100%, 17% 84%);
    clip-path: polygon(0 66%, 33% 100%, 33% 66%);
}

.menu-reveal-bar{
    // z-index: 6;

    // margin-left: 28px;
    // background-color: #333333; 
    // position: absolute;
    // width: 100%;
    // height: 40px;
    // opacity: 90%;
    // transition: width 0.3s ease-in;
}

.menu-shadow {
    // clip-path: inset(0px 0px 0px 0px);
    // clip-path: polygon(0 84%, 17% 100%, 17% 84%);
    clip-path: polygon(0 66%, 33% 100%, 33% 66%);
    // clip-path: polygon(0px 0px, 0px 150px, 150px 0px);
    margin-left: 62px;
    right: -50px;
    box-shadow:
    1px 0px 1px 1.25px $tv-yellow,    
    4px 0px 2px 5px $tv-brown-speaker,
    10px 0px 0px 12.5px $tv-brown-frame-light,
    16px 0px 0px 20.5px $tv-brown-button-panel,
    24.5px 0 0px 24.25px $tv-brown-frame-dark,
    21px 0px 0px 24.5px#f2b313;



        // transition: width 0.3s ease-out;
    // max-width: 0;
    // overflow: hidden;
    // transition: width 0.3s ease-out;

    // 1px 0px 1px 1px $tv-yellow,    
    // 3px 3px 3px 2px $tv-brown-speaker,
    // 10px 1px 2px 12px $tv-brown-frame-light,
    // 16px 2px 2px 19px $tv-brown-button-panel,
    // 21px 1px 3px 21px#f2b313,
    // 24.5px 0 1px 24.5px $tv-brown-frame-dark;

    // 1px 0px 2px 1px $tv-yellow,    
    // 2px 2px 2px 2px $tv-brown-speaker,
    // 12px 1px 2px 12px $tv-brown-frame-light,
    // 19px 2px 2px 19px $tv-brown-button-panel,
    // 21px 1px 4px 21px#f2b313,
    // 23px 0 0 25px $tv-brown-frame-dark;

    // 1px 0px 2px 1px $tv-yellow,    
    // 2px 3px 4px 2px $tv-brown-speaker,
    // 12px 1px 4px 12px $tv-brown-frame-light,
    // 20px 1px 4px 20px $tv-brown-button-panel,
    // 24px 0 0 24px $tv-brown-frame-dark;
}

.hideElement {
    display: none;
}

.displayElement {
    display: block;  // does nothing? 
    // transition: width 0.3s ease-out;

    -webkit-animation: expandline 2s;  // Works!  But links act weird, can see R side of shadow.. 

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}


@keyframes expandline{
    0%   { width:   50%; }
    50%  { width:  75%; }
    100% { width: 100%; }
}

@-webkit-keyframes expandline{
    0%   { width:   0%; }
    50%  { width:  50%; }
    100% { width: 100%; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}