// import "../../App.scss";
$background-color: #000000;
$font-stack: "verdana";
$font-size-standard: 22px;
$font-color: #f2e243;  // TV speaker yellow
$tv-yellow: #f2e243;  // TV speaker yellow
$tv-brown-speaker: #bdba9d;  // TV speaker gradient brown
$tv-brown-frame-light: #877e23;  // TV frame top brown
$tv-brown-frame-dark: #59443e;  // TV frame bottom brown
$tv-brown-button-panel: #6c6518;


.navbar-width {
    margin-top: -9px;
    width: 100%;
    min-height: 40px;
    padding-bottom: 20px;
    position: sticky;


    // background-color: $tv-brown-frame-dark; .... works here... 
}

/* Style the links inside the navigation bar */
.nav span{
    float: left;
    display: block;
    text-align: center;
    // non-responsive: 
    padding: 5px 8px ;
    margin: 5px 30px 0px 0px;
    // margin: 5px 3px 0px 0px;

    font-size: 17px;

    // padding: 1.05vw 0.8vw;
    // margin: 0.5vw 2.0vw 0vw 0vw;
    // font-size: 3.0vw;

    color: $font-color;
    z-index: 2;

    // position: fixed;  // nothing helped. 
    // max-height: 45px;   // commented out March 23 to try to fix
    overflow: hidden;    // same

    // min-height: 40px;   // ADEDED MARCH 23

}



.nav a{
    color: #f2b313;
    text-shadow: 4px 4px #000000, -.5px -.5px 2px #c79414;
    // text-shadow: 4px 4px #59443e, -.5px -.5px 2px #c79414;
    // text-shadow: 4px 4px #000000, -.5px -.5px 2px #bd8802;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'VT323', cursive;
    font-weight: bold;
    // font-size: 24px;

    // max-height: 45px;   //  commented out March 23
    overflow: hidden;
}

.nav a:hover {
    background-color: $tv-brown-frame-light;
    padding: 5px 25px 5px 25px;
    text-shadow: 0px 0px #000000, -.5px -.5px 2px #59443e;
    
    //  commented out March 23
    // position: absolute;// does nothing
    overflow: hidden;

}

.menu {         // black box that has a "shadow" on it. 
    top: 3px;
    padding-top: 0px; // was 3px, but shows part of shadow when animated
    margin-left: 58px;   // OLD - amt fm edge to start box behind remote
    // margin-left: -28px; // USE THIS ONE! !
    // width: 80%;
    min-height: 10px;
    // background-color: $background-color;   //Mar23 turned on/off
    z-index: 4;
    color: $font-color;

    // position: absolute;
    // transition: width 0.3s ease-out;
    // max-width: 0;
    overflow: hidden;
    // transition: width 0.3s ease-out;
    // Above stuff was commented out on Mon March 23rd. Not sure why not working. 


    max-height: 45px;
    // clip-path: polygon(0px 0px, 0px 150px, 150px 0px);
    // clip-path: polygon(0 84%, 17% 100%, 17% 84%);
    // clip-path: polygon(0 66%, 33% 100%, 33% 66%);
}

.menu-reveal-bar{
    z-index: 6;

    margin-left: 28px;
    // background-color: #333333;   // For testing!! 
    position: absolute;
    // width: 100%;   means 100% of the content width..
    max-width: 90vw;
    height: 40px;
    opacity: 90%;
    transition: width 0.3s ease-in;
    white-space: nowrap;

    overflow: hidden;
    // min-height: 30px;   /// ADDED MARCH 23
}




.menu-shadow {
    // clip-path: inset(0px 0px 0px 0px);
    // clip-path: polygon(0 84%, 17% 100%, 17% 84%);
    // clip-path: polygon(0 66%, 33% 100%, 33% 66%);
    // clip-path: polygon(0px 0px, 0px 150px, 150px 0px);


    margin-left: 62px; // to keep it aligned away from 
    // screen edge. Is necessary. Does not fix overflow problem. 
    
    // margin-right: -100px;  creates a black bar through box. 
    // right: -50px;
    // overflow: hidden;   // This messes up the alignment
    box-shadow:
    1px 0px 1px 1.25px $tv-yellow,    
    4px 0px 2px 5px $tv-brown-speaker,
    10px 0px 0px 12.5px $tv-brown-frame-light,
    16px 0px 0px 20.5px $tv-brown-button-panel,
    24.5px 0 0px 24.25px $tv-brown-frame-dark,
    21px 0px 0px 24.5px#f2b313;


    // overflow: hidden; Does not fix can scroll further right than should 

    // min-height: 30px;   /// ADDED MARCH 23

        // transition: width 0.3s ease-out;
    // clip: rect(20x, 160px, 20px, 60px);
    // max-width: 50px;
    // padding-right: -30px;
    margin-right: 5px;  // On large screen sizes, this stopped scrolling right too far! 

    // transition: width 0.3s ease-out;

    // 1px 0px 1px 1px $tv-yellow,    
    // 3px 3px 3px 2px $tv-brown-speaker,
    // 10px 1px 2px 12px $tv-brown-frame-light,
    // 16px 2px 2px 19px $tv-brown-button-panel,
    // 21px 1px 3px 21px#f2b313,
    // 24.5px 0 1px 24.5px $tv-brown-frame-dark;

    // 1px 0px 2px 1px $tv-yellow,    
    // 2px 2px 2px 2px $tv-brown-speaker,
    // 12px 1px 2px 12px $tv-brown-frame-light,
    // 19px 2px 2px 19px $tv-brown-button-panel,
    // 21px 1px 4px 21px#f2b313,
    // 23px 0 0 25px $tv-brown-frame-dark;

    // 1px 0px 2px 1px $tv-yellow,    
    // 2px 3px 4px 2px $tv-brown-speaker,
    // 12px 1px 4px 12px $tv-brown-frame-light,
    // 20px 1px 4px 20px $tv-brown-button-panel,
    // 24px 0 0 24px $tv-brown-frame-dark;
}

.hideElement {
    display: none;
}

.displayElement {
    // display: block;  // does nothing? 
    // transition: width 0.3s ease-out;

    -webkit-animation: expandline 2s;  // Works!  But links act weird, can see R side of shadow.. 

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}










@media screen and (max-width: 621px) { //and (min-width: 622px)  { 
    .nav span{
        float: left;
        display: block;
        text-align: center;
        padding: 1.05vw 0.8vw; // pushes TV down. 
        margin: 0.5vw 1.5vw 0vw 0vw; // 0.5 moves TV, remote, font down!!
        font-size: 3.7vw; //3.0vw;
        z-index: 2;
        overflow: hidden;    // same
    }
    .menu-reveal-bar{
        z-index: 6;
        margin-left: 1.0vw; // LEFT OFF HERE 
        position: absolute;
        width: 100%;
        height: 40px;
        opacity: 90%;
        transition: width 0.3s ease-in;
        overflow: hidden;
    }
    .nav a{
        color: #f2b313;
        text-shadow: 4px 4px #000000, -.5px -.5px 2px #c79414;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        min-height: 12px;   //  commented out March 23
        overflow: hidden;
        // white-space: nowrap;
    }
    .nav a:hover {
        background-color: $tv-brown-frame-light;
        padding: 5px 25px 5px 25px;
        text-shadow: 0px 0px #000000, -0.01vw -0.01vw 0.25vw #59443e;
        overflow: hidden;
    
    }

}




@keyframes expandline{
    0%   { width:   50%; }
    50%  { width:  75%; }
    100% { width: 100%; }
}

@-webkit-keyframes expandline{
    0%   { width:   0%; }
    50%  { width:  50%; }
    100% { width: 100%; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}