

.top-button-600-900 {    // for TVimg.svg TV With Buttons image version!
    // border-style: dotted;
    // border-radius: 50px;    
    width: 155px;        
    height: 155px;
    position: absolute;
    display: block;
    right: 46px;
    top: 240px;
    cursor: pointer;
}

.top-button-600-900:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
// https://codepen.io/tholman/pen/rxJpdQ   JS to track mouse movement 

.top-button-400-600 {
    border-style: dotted;
    border-radius: 43px;    
    width: 70px;        
    height: 70px;
    position: absolute;
    left: 130px;
    top: 69px;
}


.clip600 {   // doesn't work, makes image more off center
    clip-path: inset(0px 0px 0px 0px);
    // position: absolute;
    border-style: dotted;
    border-radius: 50px;  

}

.one {
    transform: rotate(60deg);
    position: relative;
    top: -2px;
    right: 2px;
}
.two {
    transform: rotate(120deg);
    position: relative;
    top: -4px;
    right: 2px;
}
.three {
    transform: rotate(180deg);
    position: relative;
    top: -4px;
    right: 0px;
}
.four{
    transform: rotate(240deg);
    position: relative;
    top: -4px;
    right: -2px;
}
.five {
    transform: rotate(300deg);
    position: relative;
    top: -2px;
    right: -2px;
}
.six {
}




@media screen and (max-width: 800px) {  
    .top-button-600-900 {    // for TVimg.svg TV With Buttons image version! 
        width: 20.1vw;// 155px / 2880px wide;  
        height: 20.1vw;// 155px / 2880px wide;  
        position: absolute;
        right: 4.8%;  // 46px / 2880 ;
        top: 39.0%; // 13.3%; // 240px / 1800 ;
        cursor: pointer;
    }
    .one {
        transform: rotate(60deg);
        position: relative;
        top: -2px;
        right: 2px;
    }
    .two {
        transform: rotate(120deg);
        position: relative;
        top: -4px;
        right: 2px;
    }
    .three {
        transform: rotate(180deg);
        position: relative;
        top: -4px;
        right: 0px;
    }
    .four{
        transform: rotate(240deg);
        position: relative;
        top: -4px;
        right: -2px;
    }
    .five {
        transform: rotate(300deg);
        position: relative;
        top: -2px;
        right: -2px;
    }
    .six {
    }

  }




.top-button-600-900-DEADCODE {    // for TVimg.svg TV With Buttons image version!
    border-style: dotted;
    border-radius: 50px;    
    width: 100px;        
    height: 100px;
    position: absolute;
    // left: 195px;
    right: 70px;
    top: 265px;
}