$tv-yellow: #f2e243;  // TV speaker yellow
$tv-brown-speaker: #bdba9d;  // TV speaker gradient brown
$tv-brown-frame-light: #877e23;  // TV frame top brown
$tv-brown-frame-dark: #59443e;  // TV frame bottom brown
$tv-brown-button-panel: #6c6518;

h2{
    margin-top: 2px;
}

.text-placement-responsive {   // DEFAULT:  Words to Left of TV,
    // TV Size & Placement STATIC. 
    // position: absolute;
    position: block;

    width: 20vw;
    height: 1700px;
    background: #000000;
    padding-top: 3px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;

    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 788px) and (min-width: 622px)  { 
// @media screen and (max-width: 2472px) and (min-width: 1245px) {  // 13" Macbook = 2560 x 1600 px. 
    .text-placement-responsive {    //  for the image on the screen
        position: block;
        width: 24vw;
        height: 1700px;
        background: #000000;
        padding-top: 1px;
        margin-top: 0.75%;
        margin-left: 0.75%;
        padding-left: 0.85%;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 5;
    }
}

@media screen and (max-width: 621px) {  // DONE 
// @media screen and (max-width: 1244px) {  // DONE 
    .text-placement-responsive{
        position: block;
        width: 90vw;
        height: 1700px;
        background: #000000;
        // padding-top: 30px;
        padding-top: 0px;
        margin-top: -40px;
        margin-left: 10px;
        padding-left: 12px;
        margin-right: 10px;
        padding-right: 12px;
        // Tried to refactor ^^4 to responsive, it affectd screen placement
        // padding-top: 1.0%;
        // margin-top: 2.0%;
        // margin-left: 2.0%;
        // padding-left: 2.2%;
        font-family: Arial, Helvetica, sans-serif;
    }
}




.text-placement {
    // position: absolute;
    position: block;
    width: 24vw;
    // max-width: 300px;
    height: 1700px;
    background: #000000;
    padding-top: 3px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
}