$tv-brown-button-panel: #6c6518;


.screen-shape-400-600 {
    border-radius: 19px;    // will also change with size !!!!!!!!  *********
    background: $tv-brown-button-panel;
    width: 304px;        // @50% of orig vector
    height: 243px;
}



.screen-shape-600-900 {    
    border-radius: 30px;    
    background: $tv-brown-button-panel;
    width: 456px;      // max  vs  not does nothing to back-end imgs.  
    // ...It changes front-end default image (tv fuzz) to become too small to fill screen..
    height: 365px;

    // object-fit: cover;     // This + NO  img.screen-shape..   - get full size image
    // object-fit: scale-down;      // nope, doesnt' work, img full size
}



@media screen and (max-width: 800px) {  
    .screen-shape-600-900 {    //  for the image on the screen
        border-radius: 7.5%;    
        height: 46.08vw;  // Height as % would be overriden by width. 
        width: 64.7%;
        position: relative;
        // margin-top: 15%; // pushes screen down on tv a LOT 
        // margin-bottom: 35%; // does not seem to be relative to Tv...
    }
}

