$tv-brown-button-panel: #6c6518;




.screen-responsive {  
    border-radius: 30px;    
    background: $tv-brown-button-panel;
    width: 455px;      // max  vs  not does nothing to back-end imgs.  
    // ...It changes front-end default image (tv fuzz) to become too small to fill screen..
    height: 365px;   // THIS DOESNT SEEM TO AFFECT ANYTHING. 

}
@media screen and (max-width: 788px) and (min-width: 622px)  { 
// @media screen and (max-width: 2472px) and (min-width: 1245px) {  // 13" Macbook = 2560 x 1600 px. 
    .screen-responsive {    //  for the image on the screen
        border-radius: 7.5%;   
        height: 46.08vw;  // Height as % would be overriden by width. 
        width: 65.05%;
        // position: absolute;  // any position option ruins this working! 
        margin-right: 10.0vw;
    }
}
@media screen and (max-width: 621px) {  // DONE 
    .screen-responsive {    //  for the image on the screen
        border-radius: 7.5%;    
        height: 45.08vw;  // Height as % would be overriden by width. 
        width: 64.95%;
        position: relative;
    }
}














.screen-shape-600-900 {    
    border-radius: 30px;    
    background: $tv-brown-button-panel;
    width: 456px;      // max  vs  not does nothing to back-end imgs.  
    // ...It changes front-end default image (tv fuzz) to become too small to fill screen..
    height: 365px;

    // object-fit: cover;     // This + NO  img.screen-shape..   - get full size image
    // object-fit: scale-down;      // nope, doesnt' work, img full size
}
@media screen and (max-width: 800px) {  
    .screen-shape-600-900 {    //  for the image on the screen
        border-radius: 7.5%;    
        height: 46.08vw;  // Height as % would be overriden by width. 
        width: 64.7%;
        position: relative;
        // margin-top: 15%; // pushes screen down on tv a LOT 
        // margin-bottom: 35%; // does not seem to be relative to Tv...
    }
}




// LONG-DEAD CODE
.screen-shape-400-600 {
    border-radius: 19px;    // will also change with size !!!!!!!!  *********
    background: $tv-brown-button-panel;
    width: 304px;        // @50% of orig vector
    height: 243px;
}
