$tv-brown-button-panel: #6c6518;


.screen-shape-400-600 {
    border-radius: 19px;    // will also change with size !!!!!!!!  *********
    background: $tv-brown-button-panel;
    // background: #212121;

    // padding: 20px;
    // margin-left: 100px;  //needs to moe positioning part to TV itself! 
    // margin-bottom: 100px;

    // width: 607px;        // in orig vector 
    // height: 487px;

    width: 304px;        // @50% of orig vector
    height: 243px;

    // width: calc-nav-header-width(607);  // doesn't seem to work - need to compile?
    // height: calc-nav-header-width(487);
}


.screen-shape-600-900 {    //  for the image on the screen
    border-radius: 30px;    
    background: $tv-brown-button-panel;
    width: 456px;      // max  vs  not does nothing to back-end imgs.  
    // ...It changes front-end default image (tv fuzz) to become too small to fill screen..
    height: 365px;

    // object-fit: cover;     // This + NO  img.screen-shape..   - get full size image
    // object-fit: scale-down;      // nope, doesnt' work, img full size

}

img.screen-shape-600-900 {    // no longer affects subcomponents now that specified class for img
    max-width: 456px;
    max-height: 365px;
    // object-fit: cover;      // nope, doesnt' work, img full size
    // object-fit: contain;      // nope, doesnt' work, img full size
    // object-fit: scale-down;      // nope, doesnt' work, img full size

  }


@function calc-screen-size($img-width){
    $px-width: ($img-width * 0.5);
    @return ($px-width)
}