$background-color: #000000;
$font-stack: "Open Sans", sans-serif;
$font-size-standard: 22px;
$font-color: goldenrod;

.spacing{
    padding-left: 20px;
}

.header{
    /* font-family: 'Cabin Sketch', cursive; */
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    padding-left: 10px;
    top: 0px;
    padding-left: 10px;
    /* padding-top: 80px; */
    color:#e3b36d;
    z-index: 4; 
    // Need z index else remote image interferes

    
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: ease 6s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: ease 6s;
    animation-iteration-count: 10;
    background-color: $background-color;
    
}